body {
  background-color: #794c13;
  color: #FE4261;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #000000;
  border-bottom: solid 1px #cc0000;
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  border-left: solid 4px #cc0000;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: #9933ff;
}

.iniad {
  color: #00cc00;
}

.time {
  font-weight: bold;
  color: #cc0000;
  font-size: 30px;
}

ul{
  display: inline-block;
  vertical-align: top;
}

.image{
  width: 30%;
  margin-left: 500px;
  margin-right: 10px;
  display: inline-block;
}
