body {
  background-color: #F4F4F4;
  color: #FE4261;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #000000;
  border-bottom: solid 1px #cc0000;
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  border-left: solid 4px #cc0000;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: #9933ff;
}

.iniad {
  color: #00cc00;
}

.time {
  font-weight: bold;
  color: #cc0000;
  font-size: 30px;
}

#header{
  padding: 10px 20px 10px 20px;
  background-color: #17194c;
}

#header img{
  height: 40px;
}

#campusimg img{
  height: 450px;
}

#conceptimg img { width: 100%; }
#coursesimg img { width: 100%; }