body {
  background-color: #FFFFFF;
  color: #333333;
}

h1 {
  border-bottom: solid 3px #F4F4F4;
  position: relative;
}

h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #1E90FF;
  bottom: -3px;
  width: 20%;
}

h2 {
  font-size: 20px;
  color: #333333;
  border-bottom: solid 1px #7CD0F2;
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  border-left: solid 4px #7CD0F2;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: #F4F4F4
}

.iniad {
  color: #7CD0F2;
}

.time {
  font-weight: bold;
  color: #333333;
  font-size: 30px;
}

#header{
  padding: 10px 20px 10px 20px;
  background-color: #17194c;
}

#header img{
  height: 40px;
}

#campusimg img{
  height: 450px;
}

#conceptimg img { width: 100%; }
#coursesimg img { width: 100%; }